name = "ghost-cloudflare-cache-purge"
account_id = "<YOUR CLOUDFLARE ACCOUNT ID>"
workers_dev = true
compatibility_date = "2023-03-29"
main = "index.js"
vars = { WEBHOOK_USER = "<YOUR GHOST WEBHOOK USER ACCOUNT ID>", CF_ZONE_ID = "<YOUR CLOUDFLARE ZONE ID>"}
